@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #d36565;
  --secondary: #eedddd; 
  --tertiary: #3B3636;
}

.navActive {
  color: var(--tertiary);
  border: 5px solid var(--primary);
  background-color: var(--secondary);
  border-radius: 500px;
  margin:5px;
  padding: 7px;
  font-size: larger;
}